.Avatar-container {
  max-width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selected-avatar {
  border: 2px solid #ccc;
  outline: none; /* Remove the default focus outline */
}


.selected-avatar:hover {
  border-color: #007bff; /* Change the border color */
  outline: 2px solid #007bff; /* Add a blue outline */
}

.selected-avatar img {
  cursor: pointer;
}

.trainer-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .trainer-list li {
    cursor: pointer;
  }
  
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
    color: white;
  }
  
  .pagination .active {
    font-weight: bold;
  }
  
  
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal img {
    max-width: 80%;
    max-height: 80%;
  }
  
  .modal button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .trainer-sprite {
    transition: transform 0.3s;
  }

  .trainer-sprite.active {
    transform: scale(1.4);
  }

  .trainer-sprite:hover {
    transform: scale(1.4);
  }