.PageContainer {
    color: white;
    text-align: center;
}

.CreateProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.Profile-AvatarContainer {
    background-color: rgb(33, 45, 58);
    
    border-radius: 20%;
}

.Profile-PartnerContainer {
    background-color: rgb(33, 45, 58);
    border-radius: 20%;

}