.error-modal {
    color: #ffffff;
}

.error-modal .modal-header {
    background-color: #a33838;
}

.error-modal .modal-body {
    background-color: #2c2b40e9;
}

.warning-modal {
    /* color: #7d1818; */
    color: #ffffff;
}

.warning-modal .modal-header {  
    background-color: #ffc107a7;
}

.warning-modal .modal-body {  
    background-color: #2c2b40e9;
}

.custom-modal .modal-body {
    /* Add any custom styles for the modal body */
}

.custom-modal .modal-footer {
    /* Add any custom styles for the modal footer */
}


.success-modal {
    background-color: #28a745;
    color: #fff;

}