/* Enter and Exit Transitions */
.welcome-fade-enter {
    opacity: 0;
  }
  
  .welcome-fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .welcome-fade-exit {
    opacity: 1;
  }
  
  .welcome-fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  

.welcome2-fade-enter {
    opacity: 0;
  }
  
  .welcome2-fade-enter-active {
    opacity: 1;
    transition: opacity 2000ms ease-in-out;
  }
  
  .welcome2-fade-exit {
    opacity: 1;
  }
  
  .welcome2-fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  