.Selection {
    color: #333; /* Dark text color */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .selection-container {
    height: auto;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .previews {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Allow previews to wrap on smaller screens */
  }
  
  .preview {
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 20px;
  }
  
  .preview img {
    max-width: 100%;
    height: auto;
  }
  
  .preview.active {
    transform: scale(1.2); 
  }
  
  .preview:hover {
    transform: scale(1.1); 
  }
  
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .pokemonName {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .dexContainer {
    display: flex;
    width: auto;
    height: max-content;
    margin-top: 10px; 
  }
  
  .dexEntry {
    height: auto;
    font-size: 1rem; /* Adjust font size */
    font-style: italic;
  }
  