.selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    max-width: 500px;
    height: 150px;
}

.previews {
    display: flex;
    gap: 30px;
}

.preview {
    cursor: pointer;
    transition: transform 0.3s;
}

.preview>img {
    height: auto;
    max-width: 100px;
}

.preview.active {
    transform: scale(1.3);
}